@{
    ViewData["Title"] = "PictureSave";
}

<h1>PictureSave</h1>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="picture" />
    <input type="submit" value="resim kaydet" />
</form>